* {
    margin: 0;
    padding: 0;
}
head, main {
    padding: 5rem 5rem;
}
/* form {
    display: flex;
    justify-content: center;
}
form div {
    display: flex;
    justify-content: center;
} */
input {
    margin: .3rem;
}
input[type=submit] {
    /* styles */
    background-color: #62529c;
    border: none;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

div#selectGroup {
    display: none;
}